
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
/*primary colors*/
:root{
    --primaryBlue: hsl(215, 51%, 70%);
    --primaryCyan: hsl(178, 100%, 50%);

/* ### Neutral*/

    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

p{
    font-size: 18px;
}

body{
    font-family: "Outfit",sans-serif;
    background-color: var(--mainBG);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    width:300px;
    height:530px;
    margin: 20% auto;
    padding:21px;
    background-color: var(--cardBG);
    border-radius:15px;
    box-shadow: ;

}


 img{
    max-width:100%;
    margin:0px auto;
    border-radius:10px;
}

.title{
    color:var(--white);
    font-size: larger;
    margin-top: 30px;
}

.desc{
    color:var(--primaryBlue);
}

div.details{
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    border-bottom: 1px solid var(--line);
}

span.price ,span.deadline{
    display: flex;
    color:var(--primaryCyan);
    font-weight:600;
    width:fit-content;
}

span.deadline{
    color:var(--primaryBlue)
}
span img{
    margin-right: 10px;
}

div.div{
    display:flex;
    justify-content:center ;
    align-items: center;
}

div.div img{
    width:30px;
    height:30px;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 0%;
}

div.div p{
    color:white;
    margin-right:20%;
}

div.div span{
   color:var(--primaryBlue);
} 

